$black: #212322;
$green: #00b140;

$text-low: #808080;
$text-white: #ffffff;
$text-green: #00b140;

$text-badge-brown: #b16a00;
$text-badge-brown-bakground: rgba(177, 106, 0, 0.08);

$text-badge-blue: #085473;
$text-badge-blue-bakground: rgba(8, 84, 115, 0.08);

$text-badge-green: #58b100;
$text-badge-green-background: rgb(88, 177, 0, 0.08);
