/* watch scss 
npx sass ./src/style/scss/style.scss ./src/style/css/style.css --watch
npx sass ./src/style/scss/style.scss ./src/style/css/style.css --watch
 */

@use './base/color' as color;
@use './base/font' as font;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
  font-family: font.$font-primary;
  background-color: #f5f5f5;
}
main {
  background-color: white;
  max-width: 1440px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  height: auto;
}
img {
  display: block;
  width: 100%;
}
.text-green {
  color: color.$text-green;
  display: flex;
  gap: 8px;
  align-items: center;
  &_svg {
    flex-basis: 16px;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
.bacaan {
  text-transform: capitalize;
  color: color.$text-badge-blue;
  background-color: color.$text-badge-blue-bakground;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 8px;
}
.kursus {
  text-transform: capitalize;
  color: color.$text-green;
  background-color: color.$text-badge-green-background;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 8px;
}
.video {
  text-transform: capitalize;
  color: color.$text-badge-brown;
  background-color: color.$text-badge-brown-bakground;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 8px;
}
/* 
mobile nav
 */

.mobile-nav {
  padding: 16px 32px;
  background-color: color.$black;
}

/* 
desktop
 */

aside {
  position: sticky;
  height: 100vh;
  scrollbar-width: none;
  left: 0;
  top: 0;
  padding: 24px 16px;
  background-color: color.$black;
}
.qodr-logo {
  img {
    margin: 0 auto;
    width: 138px;
    height: 32px;
  }
}

.menu-aside {
  height: 80vh;
  margin-top: 50px;
  position: relative;
  padding-bottom: 2rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 16px 6px 24px;
    width: 176px;
    height: 48px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-inline: auto;
    font-weight: 600;
    color: color.$text-low;
    font-size: 16px;
    &.active {
      background-color: color.$green;
      color: color.$text-white;
    }
    &.exit-button {
      position: absolute;
      top: 85vh;
      left: 0;
      right: 0;
      margin-bottom: 2rem;
      color: color.$black;
      background-color: white;
      justify-content: center;
      &-mobile {
        color: color.$black;
        background-color: white;
        margin-top: 50px;
        justify-content: center;
        span:nth-child(2) {
          margin-right: 24px;
        }
      }
    }
    span {
      display: inline-block;
      &:first-child {
        display: grid;
        place-items: center;
        // margin-left: 11px;
        flex-basis: 26px;
        width: 24px;
        height: 24px;
        img {
          height: 20px;
        }
      }
    }

    &.menu-item_mobile {
      width: 100%;
    }
    &:nth-child(7) {
      padding: 6px 8px 6px 26px;
    }
  }
  &-mobile {
    margin-top: 30px;
  }
}

.for-sticky a span:last-child {
  transition: all ease-in-out 300ms;
  margin-right: 16px;
}
.svg-item {
  transition: ease-in-out all 300ms;
}
.for-sticky aside a:hover .svg-item,
.for-sticky aside a:hover:not(.exit-button) {
  fill: white;
  color: white;
}

// end of aside

// section
h1.main-header {
  // padding: 22px 56px;
  padding: 12px 24px;
  margin: 0;
  border-bottom: solid 1px #f3f3f3;
  font-size: 28px;
}
.wrapper-main-card {
  padding: 0 24px;
}
.second-heading {
  padding: 0 24px;
  margin-top: 32px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 20px;
  }
}
.main-card {
  width: 100%;
  margin-bottom: 56px;
  border: solid 0.5px #f3f3f3;
  .main-card_header {
    color: color.$text-white;
    padding: 20px;
    background-color: color.$green;
    width: 100%;
  }
  .main-card_header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    h3 {
      font-weight: 600;
      font-size: 17px;
    }
    svg {
      height: 24px;
      width: 24px;
    }
  }
  .main-card_header-date {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      height: 16px;
      width: 16px;
    }
  }
}
#date {
  font-size: 14px;
}
.card-description {
  padding: 32px 20px 20px;
  &_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    h4 {
      font-size: 17px;
    }
  }
  h5 {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 14px;
  }

  &_online {
    font-size: 14px;
    margin-bottom: 32px;

    &-container {
      margin-bottom: 24px;
      > div {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 9px;
        span {
          font-size: 12px;
        }
        p {
          margin: 0;
          line-height: 18px;
        }
      }
      p {
        margin-bottom: 9px;
        line-height: 14px;
        span {
          font-size: 12px;
        }
      }
      img {
        height: 16px;
        width: 16px;
      }
    }
  }
}
.card-description_offline-container {
  margin-bottom: 20px;
}
.card-description_offline-person {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  svg {
    width: 24px;
    height: 24px;
  }
  .offline-name {
    margin-bottom: 0;
    line-height: 18px;
  }
}
.card-description_offline-person-below {
  h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    color: color.$text-low;
  }
}
.please492 {
  flex-basis: 492px;
}

/* 
mobile
 */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  img:nth-last-child(1) {
    width: 32px;
  }
  img:nth-last-child(2) {
    height: 24px;
    width: 104px;
  }
}
.sticky-header_mobile {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.backdrop {
  display: block;
  z-index: 1;
  background-color: rgba(33, 35, 34, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  transition: all ease 300ms;
  transform: translateX(0);

  &.backdrop-toggle {
    transform: translateX(100%);
  }
}
.mobile-nav {
  z-index: 2;
  width: 304px;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  transition: all ease 300ms;
  &.mobile-nav-toggle {
    transform: translateX(100%);
  }
  .mobile-nav_header {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    h2 {
      font-size: 17px;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 1117px) {
  .wrapper-main-card {
    display: flex;
    flex-direction: column;
    height: 1672px;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0;
  }
  .main-card {
    width: 48%;
    max-width: calc(492px + 2rem);
  }
  h1.main-header {
    padding: 22px 56px;
  }
  .second-heading {
    padding: 0 56px;
  }
  .wrapper-main-card {
    margin: 0 56px;
  }
}

/* 
=========
=========
=========
 */

@media screen and (max-width: 768px) {
  main {
    display: block;
  }
  aside {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  header {
    display: none;
  }
  .for-sticky {
    position: relative;
    display: grid;
    grid-template-columns: 288px 1fr;
  }
}
@media screen and (max-width: 414px) {
  .menu-aside a.exit-button-mobile {
    margin-top: 30px;
  }
  body {
    background-color: white;
  }
}
